# other 
.vscode
todo
.ds_store
__pycache__

# old files
_old

# API keys
api/*
!api/.gitkeep

# files for automations
automate

# unused icons 
icons/v1
icons/v2
icons/v3

# files used for comparison 
comparison_files/txt/*
# !comparison_files/.gitkeep
# !comparison_files/csv/*
# !comparison_files/csv/.gitkeep